<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Books Details</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <!-- goBack() methos to back to previous component -->
      <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">
      <!-- Student's Edit Form -->
      <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label> Name</label>
                <input type="text" formControlName="name" class="form-control" required>
                <p *ngIf="name.touched && name.invalid" class="error"><sup>*</sup>Please enter first name</p>
                <p *ngIf="name.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>
              </div>
              <div class="col-md-12 mb-3">
                <label>Description</label>
                <input type="text" formControlName="description" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label>View</label>
                <input type="text" formControlName="view" class="form-control" required>
               
              </div>
              <div class="col-md-12 mb-3">
                <label>Quantity</label>
                <input type="text" formControlName="quantity" class="form-control" required>
                <p *ngIf="quantity.touched && quantity.invalid" class="error"><sup>*</sup>Please provide
                  number</p>
                <p *ngIf="quantity.errors?.pattern" class="error"><sup>*</sup>Use numbers only
                  number</p>
              </div>
              <div class="col-md-12 mb-3">
                <label>Price</label>
                <input type="text" formControlName="price" class="form-control" required>
                <p *ngIf="price.touched && price.invalid" class="error"><sup>*</sup>Please provide
                  number</p>
                <p *ngIf="price.errors?.pattern" class="error"><sup>*</sup>Use numbers only
                  number</p>
              </div>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!editForm.valid">Update Book</button>
            </div>
          </div>
        </div>
      </form><!-- Student's Edit Form ends-->

    </div>
  </div>
</div>